<html>
<body>
    <div>
        <form action="/logout" method="post">
<!--            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />-->
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div>
        <form method="post">
            <input type="text" placeholder="Введите сообщение" name = "text"/>
            <input type="text" placeholder="Тэг" name = "tag"/>
<!--            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />-->
            <button type="submit">Добавить</button>
        </form>
    </div>
    <div>Список сообщений</div>
    <form method="post" action="filter">
        <input type="text" name="filter">
        <button type="submit">Найти</button>
<!--        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />-->
    </form>
    {{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
    </div>
    {{/messages}}

</body>
</html>